<!DOCTYPE html>
<html>
	<head>
		<title>The Busy Birder</title>
	</head>

	<body>

		<h3>Sightings</h3>
		<div class="list">
			<ul>
			  {{#each this}}
			  	{{#if this.name}}
			  		<li><span class="quantity">{{this.sightings}}</span> x {{this.name}}</li>
			  	{{/if}}
			  {{/each}}
			</ul>
		</div>

		<form method="POST" action="">
			  <input type="text" name="birdname">
			  <br>
			  <input type="submit" value="Add Another Bird">
		</form>


		<p><a href='/settings'>>Settings</a></p>
	</body>

</html>







