<!DOCTYPE html>
<html>
	<head>
		<title>The Busy Birder</title>
	</head>

	<body>
		<h3>Let's count some birds together!</h3>
		<img src='/img/bird.png'>
		<p><a href='/settings'>>Settings</a></p>
		<p><a href='/birds'>>Birds</a></p>
	</body>

</html>