<!DOCTYPE html>
<html>
	<head>
		<title>The Busy Birder</title>
	</head>

	<body>
		<h3>Settings</h3>
		<p>Only show birds that have been seen <span class="emphasis">this many times:</span></p>
		<form method="POST" action="">
		  <input type="text" name="minval" value={{val}}>
		  <br>
		  <input type="submit" value="Set it!">
		</form>
		<p><a href='/birds'>>Back to birds</a></p>
	</body>

</html>